include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt

recursive-include tests *
recursive-include taxi_simulator/templates/ *.html
recursive-include taxi_simulator/templates/data *
recursive-include taxi_simulator/templates/assets/js *
recursive-include taxi_simulator/templates/assets/css *
recursive-include taxi_simulator/templates/assets/img *
exclude taxi_simulator/templates/node_modules/ *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
